<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="TestDatabaseConnectionString" connectionString="Data Source=DESKTOP-6KUARGB\MSSQLSERVER03;Initial Catalog=TestDatabase;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="myAWSTestDBConnectionString" connectionString="Data Source=myskillsdb.cwpz0o5ibgph.us-east-1.rds.amazonaws.com,1433;Initial Catalog=myAWSTestDB;Integrated Security=False;Persist Security Info=True;User ID=AWSVS2019;Password=Fourier4aws"
      providerName="System.Data.SqlClient" />
    <add name="myAWSTestDBConnectionString2" connectionString="Data Source=myskillsdb.cwpz0o5ibgph.us-east-1.rds.amazonaws.com,1433;Initial Catalog=myAWSTestDB;Integrated Security=False;User ID=AWSVS2019;Password=Fourier4aws"
      providerName="System.Data.SqlClient" />
    <add name="myAWSSkillsDataBaseConnectionString" connectionString="Data Source=myskillsdb.cwpz0o5ibgph.us-east-1.rds.amazonaws.com,1433;Initial Catalog=myAWSSkillsDataBase;User ID=AWSVS2019;Password=Fourier4aws"
      providerName="System.Data.SqlClient" />
    <add name="rds.myskillsserver.myAWSSkillsDataBase" connectionString="Data Source=myskillsserver.cwpz0o5ibgph.us-east-1.rds.amazonaws.com,1433;Initial Catalog=myAWSSkillsDataBase;Integrated Security=False;Persist Security Info=True;User ID=AWSVS2019;Password=Fourier4aws"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>